# Application
NODE_ENV=production
PORT=3000
API_PREFIX=api/v1

# MongoDB (Docker service name)
MONGODB_URI=mongodb://mongodb:27017/ecommerce

# JWT
JWT_SECRET=MyS3cr3tK3y!2024$Ec0mm3rc3#API@N3stJS
JWT_EXPIRATION=7d

# Redis (Docker service name)
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_TTL=3600

# Rate Limiting
THROTTLE_TTL=60
THROTTLE_LIMIT=10

# Pagination
DEFAULT_PAGE_SIZE=10
MAX_PAGE_SIZE=100