version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: ecommerce-mongodb
    restart: always
    ports:
      - '27017:27017'
    environment:
      MONGO_INITDB_DATABASE: ecommerce
    volumes:
      - mongodb_data:/data/db
    networks:
      - ecommerce-network

  redis:
    image: redis:latest
    container_name: ecommerce-redis
    restart: always
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
    networks:
      - ecommerce-network

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ecommerce-api
    restart: always
    ports:
      - '3000:3000'
    environment:
      - NODE_ENV=${NODE_ENV}
      - PORT=${PORT}
      - API_PREFIX=${API_PREFIX}
      - MONGODB_URI=${MONGODB_URI}
      - JWT_SECRET=${JWT_SECRET}
      - JWT_EXPIRATION=${JWT_EXPIRATION}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - REDIS_TTL=${REDIS_TTL}
      - THROTTLE_TTL=${THROTTLE_TTL}
      - THROTTLE_LIMIT=${THROTTLE_LIMIT}

    depends_on:
      - mongodb
      - redis
    networks:
      - ecommerce-network

volumes:
  mongodb_data:
  redis_data:

networks:
  ecommerce-network:
    driver: bridge
